@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common */

.error {
    @apply m-5 text-2xl text-center font-bold text-red-600;
}

.development {
    @apply m-10 text-2xl text-center font-bold text-red-600;
}

/* Layout */

.outerBackground {
    @apply font-sans pt-10 pb-10 bg-lime-300 min-h-screen;
}

.innerBackground {
    @apply mx-auto max-w-7xl overflow-hidden border-4  border-green-500  bg-gradient-to-r from-[#8ed622] via-[#fde047] to-[#a3e635] rounded-3xl;
}

.mainContent {
    @apply m-5 flex;
}

.sideNavbar {
    @apply basis-1/5;
}

.sideNavbarNav {
    @apply mx-5 mt-16 h-[32rem] border-4 border-lime-500 rounded-3xl grid place-content-evenly;
}

.content {
    @apply m-5 basis-4/5;
}

.footer {
    @apply fixed bottom-0 left-0;
}

/* Header */

.header {
    @apply px-10 pt-10 pb-5 md:flex;
}

.headerLogo {
    @apply basis-1/5 flex justify-center transform hover:scale-125 transition ease-out duration-300;
}

.headerCaption {
    @apply m-auto basis-3/5 flex justify-center;
}

/* Footer */

.footerLogo {
    @apply basis-1/5 flex justify-center transform hover:scale-125 transition ease-in-out duration-300;
}

.footerDescription {
    @apply mt-5 flex justify-evenly;
}

.footerDescriptionText {
    @apply p-5 text-2xl font-medium opacity-50 hover:opacity-100;
}

.footerDescriptionIcon {
    @apply p-5 text-xl opacity-50 hover:opacity-100 rounded-full transition ease-in-out duration-300 cursor-pointer;
}

/* Top navbar */

.topNavbarNav {
    @apply px-5 pb-10 border-b-4 border-lime-400 md:h-48 md:flex;
}

.topNavbarButton {
    @apply basis-1/3 flex justify-center items-center;
}

.langSwitcher {
    @apply px-2 w-48 flex justify-around border-4 bg-lime-400 border-lime-500;
}

.langSwitcherFlag {
    @apply p-2 flex-none cursor-pointer hover:scale-125 transition ease-in-out duration-300;
}

.topNavbarChildren {
    @apply basis-1/3 flex justify-center;
}

/* Connector */

.connectorButton {
    @apply py-5 flex justify-center;
}

.connectorConnected {
    @apply text-3xl text-center text-green-600 font-bold;
}

.connectorNotSupportedChain {
    @apply text-center text-red-600;
}

.connectorPleaseConnect {
    @apply text-2xl text-center text-red-600 font-bold;
}

/* Buttons */

.myMenuButton {
    @apply mx-5 my-2 p-2 w-56 text-xl text-lime-700 font-medium bg-lime-400 hover:bg-lime-500 active:bg-lime-600 border-4 border-lime-600 rounded-3xl transform transition ease-in-out duration-200;
}

.myButtonLime {
    @apply m-5 p-5 w-80 text-3xl text-lime-700 font-medium bg-lime-400 hover:bg-lime-500 active:bg-lime-600 border-4 border-lime-600 rounded-3xl transition ease-out duration-300;
}

.myButtonLimeLong {
    @apply m-5 p-5 w-80 text-3xl text-lime-700 font-medium bg-lime-400 hover:bg-lime-500 active:bg-lime-600 border-4 border-lime-600 rounded-3xl transition ease-out duration-300;
}

.myButtonLimeMiddle {
    @apply m-2 p-2 w-56 text-xl text-lime-700 font-medium bg-lime-400 hover:bg-lime-500 active:bg-lime-600 border-4 border-lime-600 rounded-3xl transition ease-in-out duration-200;
}

.myButtonLimeSmall {
    @apply m-3 p-2 w-40 text-xl text-lime-700 font-medium bg-lime-400 hover:bg-lime-500 active:bg-lime-600 border-4 border-lime-600 rounded-3xl transition ease-in-out duration-200;
}

.myButtonBlue {
    @apply m-2 p-2 w-48 text-2xl text-blue-600 font-medium bg-blue-300 hover:bg-blue-400 active:bg-blue-500 border-4 border-blue-600 rounded-3xl transition ease-in-out duration-200;
}

.myButtonGreen {
    @apply m-2 p-2 w-48 text-2xl text-green-800 font-medium bg-green-400 hover:bg-green-500 active:bg-green-600 border-4 border-green-700 rounded-3xl transition ease-in-out duration-200;
}

.myButtonRed {
    @apply m-2 p-2 w-48 text-2xl text-red-800 font-medium bg-red-400 hover:bg-red-500 active:bg-red-600 border-4 border-red-700 rounded-3xl transition ease-in-out duration-200;
}

.refreshButton {
    @apply m-5 px-6 py-5 rounded-full bg-lime-500 hover:bg-lime-600 active:bg-lime-700 cursor-pointer transform hover:scale-125 transition ease-in-out duration-500;
}

.refreshButtonSmall {
    @apply mx-1 mt-1 p-2 h-fit cursor-pointer flex justify-center rounded-full opacity-25 hover:opacity-75;
}

/* Pages */

.pageTitle {
    @apply mx-10 mt-0 mb-10 text-5xl font-bold text-lime-600 text-center;
}

.pageDescriptionTitle {
    @apply mx-10 mt-10 mb-5 font-bold text-3xl text-lime-700;
}

.pageDescription {
    @apply mx-10 my-5 font-semibold text-xl text-lime-700;
}

.pageDescriptionTitle {
    @apply mx-10 mt-10 mb-5 font-bold text-3xl text-lime-700;
}

.pageContent {
    @apply mx-10 mt-10 mb-5 font-bold text-2xl text-lime-700;
}

.connectionProblem {
    @apply mx-5 my-10 text-3xl font-bold text-red-600 text-center;
}

/* Cards */

.card {
    @apply mx-5 my-5 w-fit h-72 border-4 border-lime-500 rounded-2xl shadow-lg shadow-lime-500;
}

.cardTitle {
    @apply mx-5 mt-5 mb-3 text-2xl text-left font-bold text-lime-700;
}

.cardContent {
    @apply w-96 text-lg font-semibold text-lime-700;
}

.cardColumns {
    @apply grid grid-cols-5 gap-4;
}

.cardColumn1 {
    @apply text-right col-span-3;
}

.cardColumn2 {
    @apply text-left font-bold col-span-2;
}

/* Modals */

.modalTitle {
    @apply p-2 text-3xl text-lime-600 font-bold;
}

.modalContent {
    @apply m-5 text-2xl font-semibold;
}

.modalButton {
    @apply mb-10 text-center;
}

.modalInput {
    @apply mx-5 my-10 scale-125 flex justify-center;
}

.modalDescription {
    @apply mx-5 my-2 text-2xl font-medium;
}

.modalColumns {
    @apply grid grid-cols-2 gap-4;
}

.modalColumn1 {
    @apply text-right col-span-1;
}

.modalColumn2 {
    @apply text-left font-bold col-span-1;
}

/* PlayGame component */

.startGameButton {
    @apply h-40 flex justify-center items-center;
}

.snakeGame {
    @apply m-5 flex justify-center;
}

/* The Snake Game */

.game-area {
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border: 5px solid green;
}

.snake-dot {
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: blue;
    border: 1px solid #fff;
    z-index: 2;
}

.snake-food {
    position: absolute;
    width: 5%;
    height: 5%;
    background: red;
    border: 1px solid #fff;
    z-index: 1;
}
